@import "../core/vars.scss";

.form {
  margin: auto;
  box-sizing: border-box;

  @media screen and (min-width: 780px) {
    padding: 0 20px;
    width: 780px;
  }

  .form-title {
    font-size: xx-large;
    height: 50px;
  }

  .form-body {
    position: relative;
  }

  .form-tool-bar {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
    border: 1px solid $light-gray;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    padding: 0 20px;
    height: 60px;
    width: 90%;
    bottom: 0;
    left: 5%;

    .form-tool-bar-button {
      height: 48px;
      width: 48px;
      border-radius: 50%;
      background-color: transparent;
      font-size: larger;
      border: none;

      &:hover {
        background-color: $hover-bg;
      }
    }

    @media screen and (min-width: 950px) {
      flex-direction: column;
      position: absolute;
      left: calc(100% + 20px);
      bottom: 0;
      width: 50px;
      height: 255px;
      border-radius: 5px;
      padding: 10px 0;

      .form-tool-bar-button {
        height: 36px;
        width: 36px;
        font-size: large;
      }
    }
  }

  .form-submit-button {
    height: 30px;
    margin-top: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    float: right;

    &:hover {
      background-color: #d3d3d3;
    }
  }
}
