@import "../core/vars.scss";

.question-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;

  .question-card-header {
    margin-bottom: 20px;

    @media screen and (min-width: 690px) {
      display: grid;
      grid-template-columns: auto 30%;
      column-gap: 15px;

      .question-card-header-label {
        margin-bottom: 0 !important;
      }
    }

    .question-card-header-label {
      font-size: medium;
      margin-bottom: 10px;
    }
  }

  .question-card-footer {
    display: flex;
    box-sizing: border-box;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 5px 0;
    border-top: 1px solid $light-gray;
    color: $text-color;

    .question-card-footer-divisor {
      border-left: 1px solid $light-gray;
      height: 32px;
      margin: 0 16px;
      width: 0;
    }

    .question-card-footer-actions {
      .question-card-footer-actions-button {
        border-radius: 50%;
        background-color: transparent;
        font-size: larger;
        border: none;
        color: $text-color;
        height: 48px;
        width: 48px;

        &:hover {
          background-color: $hover-bg;
        }
      }
    }

    .question-card-footer-options {
      display: flex;
      align-items: center;
      justify-content: end;
      padding-left: 10px;

      .question-card-footer-options-label {
        font-size: 14px;
        margin-right: 10px;
      }
    }
  }

  hr {
    opacity: 0.2;
  }
}
