@import "../../vars.scss";

.toggle-switch {
//   position: relative;
  width: fit-content;
  height: 15px;
}

.toggle-switch input {
  display: none;
}

.switch {
display: block;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  width: 35px;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
}

.switch:before {
  content: "";
  transition: transform 0.3s ease-in-out;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-top: -2px;
}

input:checked + .switch {
  background-color: rgba($primary, 0.5);
}

input:checked + .switch:before {
  transform: translateX(15px);
  background-color: $primary;
}
